In [1]:
import bs4 
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
name = []
product = []
Business_Type = []

In [3]:
page = 1
while page <= 77:

    data = requests.get('https://www.thaigemjewelry.or.th/member?page='+str(page))
    soup = bs4.BeautifulSoup(data.text)
    for i in soup.find_all('div',{'class':'col-lg-6 col-md-12 position-relative mt-4'}):
        name.append(i.find('div',{'class':'w-100 ps-3 text-center'}).find('h5').text)
        product.append(i.find('p',{'class':'text-line-2 mb-0 line-height-20px'}))
        Business_Type.append(i.find('div',{'class':'cate-type'}).find('p'))
        
    print('complete page num',page)
    page += 1

complete page num 1
complete page num 2
complete page num 3
complete page num 4
complete page num 5
complete page num 6
complete page num 7
complete page num 8
complete page num 9
complete page num 10
complete page num 11
complete page num 12
complete page num 13
complete page num 14
complete page num 15
complete page num 16
complete page num 17
complete page num 18
complete page num 19
complete page num 20
complete page num 21
complete page num 22
complete page num 23
complete page num 24
complete page num 25
complete page num 26
complete page num 27
complete page num 28
complete page num 29
complete page num 30
complete page num 31
complete page num 32
complete page num 33
complete page num 34
complete page num 35
complete page num 36
complete page num 37
complete page num 38
complete page num 39
complete page num 40
complete page num 41
complete page num 42
complete page num 43
complete page num 44
complete page num 45
complete page num 46
complete page num 47
complete page num 48
complete page num 49
complete page num 50
complete page num 51
complete page num 52
complete page num 53
complete page num 54
complete page num 55
complete page num 56
complete page num 57
complete page num 58
complete page num 59
complete page num 60
complete page num 61
complete page num 62
complete page num 63
complete page num 64
complete page num 65
complete page num 66
complete page num 67
complete page num 68
complete page num 69
complete page num 70
complete page num 71
complete page num 72
complete page num 73
complete page num 74
complete page num 75
complete page num 76
complete page num 77

In [5]:
table = pd.DataFrame([name,product,Business_Type]).transpose()
table.columns = ['name','product','Business_Type']
table

,name,product,Business_Type
0,"Rough & Gems Co.,Ltd.",[Gemstones],[Gemstones]
1,"S.V. Diam Co.,Ltd.",[Diamonds],[Diamonds]
2,"T.P. Diamonds (Thailand) Co.,Ltd.","[Diamonds,Cutting Factory,Rough Diamonds]","[Diamonds,Cutting Factory,Rough Diamonds]"
3,"Oriental Jewelry and Gold Co.,Ltd.",[Gold Jewelry],[Gold Jewelry]
4,"LEGOR GROUP S.E. ASIA CO.,LTD.","[Plating Solutions,3D Printer & Software,Maste...","[Plating Solutions,3D Printer & Software,Maste..."
...,...,...,...
1530,"THANUSA CO.,LTD.","[Diamonds,Certified Diamond : Round Shape,Gold...","[Diamonds,Certified Diamond : Round Shape,Gold..."
1531,"Patchara Gallery Co.,Ltd.",[Silver Jewelry],[Silver Jewelry]
1532,PWK Jewelry Company Limited,[Gemstones],[Gemstones]
1533,Thai Color Stones Trade Association,[Gemstones],[Gemstones]
1534,"SAKORN AND SONS CO.,LTD.",[Gemstones],[Gemstones]